
body{
    background-color: black;
}
#leftbutton{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 20px;
    top: 50%;
    transform: rotate(180deg);
    /* String value */
}
#rightbutton{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 50%;
    /* String value */
}
#topbutton{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 48%;
    top: 20px;
    transform: rotate(270deg);
    /* String value */
}
#notshown{
    display: none;
}
#bottombutton{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 48%;
    bottom: 20px;
    transform: rotate(90deg);
    /* String value */
}

.divimg{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.scene{
    position: relative;
  width: 50%;
}
#key1{
    right: 30%;
    bottom: 25%;
    transform: rotate(90deg);
    width: 100px;
    height: 75px;
    position: absolute;
}
#key2{
    right: 45%;
    bottom: 25%;
    transform: rotate(90deg);
    width: 100px;
    height: 75px;
    position: absolute;
}
#key3{
    left: 37%;
    bottom: 30%;
    transform: rotate(90deg);
    width: 100px;
    height: 75px;
    position: absolute;
}
#key4{
    left: 30%;
    bottom: 25%;
    transform: rotate(270deg);
    width: 100px;
    height: 75px;
    position: absolute;
}
#comboTable{
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100px;
    height: 75px;
    position: absolute;
}
.visible{
    display: flex;
}
.hidden{
    display: none;
}

